<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <title>福袋小瑪莉</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mario_demo.css') }}">
</head>

<body>

    <div class="machine">

        <h1>🎰 福袋小瑪莉 🎰</h1>

        <div class="slots">

            <div class="slot" id="slot1">?</div>
            <div class="slot" id="slot2">?</div>
            <div class="slot" id="slot3">?</div>

        </div>

        <button onclick="playMario()">
            消耗 2 準提金
        </button>

        <div id="result"></div>

    </div>

    <script src="{{ url_for('static', filename='js/mario_demo.js') }}"></script>

</body>

</html>