<div style="position:fixed;top:0;width:100%;background:#041f22;padding:10px 20px;display:flex;justify-content:space-between;z-index:999;">

    <div style="color:#ffd700;">
        ⚠️ 僅供娛樂參考，請理性投注
    </div>

    <div>
        <a href="/" style="color:#00c6ff;margin-left:15px;">🏠 首頁</a>

     {% if session.get("user") %}
         <span style="margin-left:15px;">👋 {{ session.get("user") }}</span>
         <a href="/logout" style="color:#00c6ff;margin-left:15px;">登出</a>
     {% else %}
         <a href="/login" style="color:#00c6ff;margin-left:15px;">登入</a>
        {% endif %}
    </div>

</div>